.*
/*.iml
*.log
/target/
/*/target
/*/*/target
/*/node_modules
/*/*/node_modules
/*/dist
/*/*/dist
/*/test/unit/coverage
/*/*/test/unit/coverage
/*/test/e2e/reports
/*/*/test/e2e/reports
!/*/.postcssrc.js
!/*/*/.postcssrc.js
!/*/.editorconfig
!/*/*/.editorconfig
!/*/.babelrc
!/*/*/.babelrc
!/.gitignore
/*/*/bootstrap.yml
/zipkin-server/zipkin.jar
/zipkin-server/zipkin.jar.*
/log/
/.idea/
.settings
.springBeans
.project
.classpath